.pdf-layout {
  display: flex; 
  justify-content: space-between; 
  font-size: 19px;
}

.form-slip {
  width: 50%; 
  margin-left: 50px;
  /* background-color: blue; */
}

.additional-fields {
  width: 50%; 
}

.pdf-image-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.pdf-image {
  max-width: 50%; 
  max-height: 50%; 
  margin-right: 40%;
  margin-top: 50px;
  border-radius: 5px; /* Circular image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.form-field{
  margin-top: 50px;
}

.form-field span{
  margin-right: 40%;
}

.social{
  margin-top: 60px;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}

.icon {
  margin-right: 10px; 
  width: 50px;
  height: 30px;
}

.icon:hover{
  color: rgb(160, 8, 8);
}

.icn{
  margin-left: 40px;
}